/*Escribe tu CSS cacharrero aqui*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

  /*  
 #page_effect {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 

.hero-image{
	height: 400px;
	background: url("../img/hero-image/dunas.jpg") center no-repeat;
	background-size: 100%; 
    position: relative; 
}

.fa-code , .fa-life-ring , .fa-mobile , .fa-desktop {
    font-size: 36px;
}

    
    
